/* General Styles */
@media screen and (min-width: 841px) and (max-width: 1280px) and (orientation: landscape){
    body, html {
        font-size: 2rem;
    }
}

@media screen and (min-width: 841px) and (max-width: 1280px) and (max-aspect-ratio: 4 / 3){
    body, html {
        font-size: 1.5rem;
    }
}

body, html {
    margin-left: 1rem; 
    margin-right: 1rem; 
    -webkit-font-smoothing: antialiased;
    background-color: #141414;
    font-size: 1rem;
    color: #fff;
    line-height: 1.2;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}


/* Navbar Styles */
.navbar-brand img {
    width: 120px;
}

.navbar-nav .nav-link,
.nav-link,
.text-center {
    color: #eeeeee !important; 
}

.navbar-nav .nav-link:hover,
.nav-link:hover{
    color: #acacac !important; 
}


/* Search Box Styles */
.notifications-menu, 
.profile-icon,
.searchBox {
    margin-right: 15px;
}

.notifications-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.profile-icon {
    border-radius: 20%; 
}

.search-icon {
    background: none;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.searchBox {
    position: relative;
}

.search-input-container {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #0000002f; 
    z-index: 1000;
}

.search-input.active {
    display: block;
}

.search-input {
    width: 100%;
    border: none;
    border-radius: 0;
    padding: 10px;
}

/* Category Styles */
.category-container {
    margin: 1rem;
    padding-bottom: 5rem; 
}

.card-img-top {
    width: auto;
    height: 25rem; 
    object-fit: cover;
}

